<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <!-- App Header -->
    <header class="header">
      <div class="header_logo">
        <h1><span  class="header_logo_span_a">AfriJob</span><span class="header_logo_span_b">Market</span></h1>
      </div>
      <div class="header_links">
        <div>
          <ul class="header_items_links">
            <li class="header_link_item">
              <a href="#">Home</a>
            </li>
            <li class="header_link_item">
              <a href="#">Jobs</a>
            </li>
            <li class="header_link_item">
              <a href="#">Support</a>
            </li>
            <li class="header_link_item">
              <a href="#">Login</a>
            </li>
            <li class="header_link_item"><button class="sign_button">
              <a href="#" class="signup">Signup</a></button>
            </li>
          </ul>
        </div>
      </div>
    </header>
    <section class="section_side">
    <h1 class="h1">Find the Perfect job that you deserve.</h1>
    <form id="form_one">
      <input type="search" placeholder="Job title" id="search_1"/><input type="location" id="location" value="Nigeria"/>
      <input type="button" value="SEARCH" id="search"/>
</form>
<p class="para"><span class="para1">Search Keywords</span> e.g Product Designer</p>
   </section>
   <div class="img_div">
   </div>
  </body>
</html>
